@model TransactionDetail
@{
    ViewData["Title"] = "TransactionDetail";
}




<h2 class="text-success">Data Added Successfully....</h2>
<a asp-action="Calculate" class="btn btn-primary">Back to EMI calculation</a>

@section Scripts{

  



    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="~/js/TransactionList.js"></script>


  


}
